.about-us-main-container {
    user-select: none;
}

.about-us-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    top: 150px;
    padding: 50px;
}

.about-us-text h1 {
    font-size: 120px;
    font-family: 'Work Sans', sans-serif;

    line-height: 100px;
}

.slogan-container {
    display: inline-block;
    padding: 15px;
}

.slogan {
    font-family: monospace;
    font-size: 30px;
    text-align: center;
    border-right: 2px solid black;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(29),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }

}

@keyframes typing {
    from {
        width: 0;
    }

}

.about-us2 {
    display: flex;
    align-items: center;
    padding: 60px 60px 100px;
    gap: 60px;
    background-color: rgba(251, 234, 252, 0.236);
}

.about-us2 img {
    width: 600px;
}

.about-us2 p {
    line-height: 25px;
    font-size: 18px;
}

.about-us-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    background-color: #76699A;
    color: white;
    border-bottom: 3px solid rgb(44, 1, 90);
}

.foo-logo-cont {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.foo-logo-cont p {
    font-family: 'Garamond';
    font-style: italic;
}

.foo-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.foo-logo img {
    width: 60px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.media {
    display: flex;
    align-items: center;
    gap: 15px;

}

.media p {
    margin: 0;
}

@media only screen and (max-width:900px) {
    .about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px;
    }

    .about-us img {
        width: 100%;
    }

    .about-us-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        top: 100px;
        box-sizing: border-box;
        padding: 0;
        width: 100%;
    }

    .about-us-text h1 {
        font-size: 30px;
        line-height: normal;
    }

    .main-about-us-text-p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .main-about-us-text-p .text {
        padding: 0 15px;
    }

    .slogan-container {
        padding: 0;
    }

    .slogan {
        font-size: 22px;
        line-height: normal;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .about-us2 {
        display: flex;
        flex-direction: column-reverse;
        padding: 15px;
        margin-top: 50px;
        gap: 0;
    }

    .about-us2 img {
        width: 250px;
    }

    .about-us2 p {
        font-size: 16px;
        line-height: normal;
    }

    .about-us-contact {
        display: flex;
        flex-direction: column-reverse;
        gap: 80px;
    }

    .foo-logo-cont {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}