.main-articles {
    margin-top: 100px;
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
    align-items: end;
    gap: 55px;
}

.main-articles h1 {
    font-size: 120px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 100px;
}

.main-articles p {
    width: 85%;
}

.articles-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 110px;
    gap: 25px;
}
.article-card{
    border: 1px solid #982FBC;
    border-radius: 10px;
    padding: 50px 90px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}
.art-category-flag {
    position: absolute;
    background-color: #982FBC !important;
    z-index: 5000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    right: 0;
    top: 10px;
    color: white;
    .triangle {
        width: 0;
        height: 0;
        border-left: 15px solid white;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        margin-right: 12px;
      }

}
.link-to-article{
    padding: 5px 15px;
    background-color: #982FBC;
    color: #ffffff;
    border-radius: 13px 5px;
}

.no-articles {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 25px;
}

.no-articles img {
    width: 400px;
}

.article-cont{
    padding: 150px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-cont p {
    margin: 0;
}

.back-to-articles{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 50px 0;
    padding: 10px 15px;
    background-color: #c59ad3;
    border-radius: 4px;
    color: white;
    transition: .6s ease;
}
.back-to-articles:hover{
    background-color: #982FBC;
}

@media only screen and (max-width:1200px) {
    .main-articles{
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-bottom: 50px;
    }
    .main-articles h1 {
        font-size: 50px;
        text-align: center;
        line-height: normal;
    }
    .main-articles p {
        width: 100%;
    }
    .articles-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;
    }
    .article-card{
        padding: 10px;
        width: 100%;
    }

    .no-articles{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        justify-content: center;
        align-items: center;
        gap: 0;
    }
    .no-articles img {
        width: 300px;
    }
    .no-articles p {
        font-size: 18px;
        text-align: center;
    }
    .article-cont{
        padding: 80px 15px;
    }
}