.carousel {
    margin: 55px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    margin: auto;
    padding: 50px;
    background-color: yellowgreen;
}

.card-content {
    margin-right: 15px; /* Adjust the margin value as needed */
    display: flex;
}

/* Ensure the last card doesn't have a right margin */
.card-content:last-child {
    margin-right: 0;
}

.card img {
    height: 200px;
}
