.main-courses-cont {

  /* background-image: url('../images/courses-bg.jpg'); */

  padding: 70px 0;
}

.main-courses {
  padding: 0 50px;
  display: flex;
  justify-content: space-around;
  align-items: end;
  gap: 55px;

}

.main-courses h1 {
  font-size: 120px;
  font-family: 'Work Sans', sans-serif;
  line-height: 100px;
}

.main-courses p {
  width: 95%;
  line-height: 140%;
  padding: 25px;
  border: 1px solid #3b104b68;
  background-color: #dbb6e7ad;
}

.categories {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.categories h2 {
  color: #982FBC;
  font-family: 'Work Sans', sans-serif;
}

.categories-btn {
  display: flex;
  gap: 60px;
}

.categories-btn button {
  padding: 8px 40px;
  font-size: 16px;
  background-color: white;
  border: 1.5px solid #982FBC;
  color: #982FBC;
  border-radius: 5px;
  transition: .8s ease;
}

.categories-btn button:hover {
  background-color: #982FBC;
  color: white;
}

.categories-btn button.selected {
  background-color: #982FBC !important;
  color: #fff;
}

.category-options {
  display: none;
}

.courses-list {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0 110px;
}


.course-card {
  width: 100%;
  padding: 45px 45px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 45px;
  position: relative;
  background-color: rgb(254, 254, 254);
  user-select: none;
  background-color: #312b46;
  color: white;
}



.course-card h1 {
  text-align: center;
  margin: 8px 0 0 0;
  font-family: 'Work Sans', sans-serif;

}

.course-card p {
  text-indent: 15px;
  text-align: justify;
}

.course-card img {
  width: 350px;
  height: 100%;
  border-radius: 25px;
  border: 1px solid #982FBC;
  contain: cover;
}

.course-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: #423b5b;
  padding: 25px;
  margin: 12px 0;
  border-radius: 15px;
  line-height: 140%;
  color: #beb6d9;
}

.course-card-text h1 {}

.course-card-action {
  padding: 9px 25px;
  background-color: #982FBC;
  color: white;
  border-radius: 5px;
  border: 1px solid #982FBC;
  transition: .8s ease;
}

.course-card-action:hover {
  background-color: #e4bff1;
  color: #982FBC;
}

.paid-price {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0px;
  color: #7c2b1d;
  font-weight: 700;
  background-color: #ff8000;
  padding: 0 15px 0 0;
  font-size: 18px;

  .triangle {
    width: 0;
    height: 0;
    border-left: 15px solid #312b46;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
}

.free-price {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0px;
  color: #1d7c43;
  font-weight: 700;
  background-color: #96ffa8;
  padding: 0 15px 0 0;
  font-size: 18px;


  .triangle {
    width: 0;
    height: 0;
    border-left: 15px solid #312b46;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
}

.category-flag {
  display: flex;
  align-items: center;
  background-color: #ffe414;
  color: #897903;
  padding: 0px 14px 0 0;
  margin-top: 10px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  font-weight: 600;
  background-size: 200%;


  .triangle {
    width: 0;
    height: 0;
    border-left: 15px solid #312b46;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    margin-right: 8px;
  }
}


/* ----------------------------------------------- Course detail page -----------------------------------*/

.back-to-courses {

  display: flex;
  gap: 15px;
  align-items: center;
  padding: 5px 10px 5px 0;
  border-radius: 0 3px 3px 0;
  background-color: #42366c;
  color: white;
  left: 15px;
  top: 0;
  transition: .2s ease;

}

.back-to-courses-container {
  position: fixed;
  left: 23px;
  top: 75px;
  display: flex;

  .triangle {
    width: 0;
    height: 0;
    border-right: 15px solid #42366c;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    transition: .2s ease;

  }
}

.back-to-courses:hover {
  background-color: #5c3cbd;
}

.back-to-courses-container:hover {
  .triangle {

    border-right: 15px solid #5c3cbd;
  }
}

.course-container {
  margin: 90px 0;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
  gap: 180px;

  padding: 0 120px;

}

.course-container img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 1px 1px 20px #898989;
}

.course-container h1 {
  text-align: center;
}

.course-container h2 {
  text-align: center;
}

.course-container ul {
  text-align: left;
}

.no-courses {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-size: 25px;
}

.no-courses img {
  width: 400px;
}

.course-info {
  text-align: center;
  width: 600px;
  margin: 25px 0;
}

.course-info-action {
  margin-top: 15px;
  color: white;
  font-size: 17px;
  padding: 10px 30px;
  background-color: #5c3cbd;
  border-radius: 5px;
  transition: .8s ease;
  border: none;
  cursor: pointer;
}

.course-info-action-enrl {
  line-height: 60px;
  color: white;
  font-size: 17px;
  padding: 10px 30px;
  background-color: #5c3cbd;
  border-radius: 5px;
  transition: .8s ease;
  border: none;
  cursor: pointer;
}

.course-info-action-enrl:hover {
  background-color: #42366c;
}

.course-info-action:hover {
  background-color: #42366c;

}

.please {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  color: red;
  font-weight: 600;
}

.please:hover {
  background-color: #a9a6b6;
}

.course-program {
  margin: 25px 0 350px;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.dropdown-box {
  height: 0px;
  cursor: pointer;
  margin: 5px 0 80px 0;
  display: flex;
  flex-direction: column;

}

.dropdown-box>h2 {
  cursor: default;
}

.opener {
  height: 40px;
  padding: 0 15px;
  border: 1px solid #5c3cbd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-top: 25px;
}

.opener>i,
.opener>h1 {
  font-size: 20px;
  transition: 0.5s ease;
  color: #5c3cbd;

}

.rotate {
  transform: rotate(225deg);
}

.content {
  min-height: 0;
  max-height: 0;
  background: #ebedff;
  color: var(--black);
  border-radius: 0 0 25px 25px;
  overflow: auto;
  padding: 0 10px;
  transition: 0.5s ease;
  font-size: 15px;
  text-align: left;
  display: block;

}

.content>ul {
  color: #5c3cbd;
  line-height: 35px;
  list-style: circle;
}

.content-active {
  padding: 15px;
  max-height: fit-content;
  min-height: 100px;
  overflow: hidden;
  transition: 0.5s ease;
}



/* ---------------------------- add courses ------------------------------------------------*/

.add-course-cont {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-course-cont form {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.add-course-cont .row {
  width: 100%;
}

.add-course-cont .row input {
  font-size: 16px;
}

.topic-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topic-inputs .row {
  gap: 50px;
  justify-content: space-around;
  align-items: center;
}

.topic-inputs button {
  background-color: white;
  color: #5c3cbd;
  border: 1px solid #5c3cbd;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px;
  
}
.topic-inputs button:hover {
  background-color: #5c3cbd;
  color: white;
}

.topic-inputs .row input {
  font-size: 18px;
  padding: 8px;
  width: 450px;
  border-radius: 5px;
  border: 1px solid #b2b0b9;
}

.row label {
  text-wrap: nowrap;
}


.is-paid-form {
  display: flex;
  flex-direction: column;
}

.is-paid-form .row{
  display: flex;
}

.is-paid-form .row input {
  width: 120px;
}


.add-btns {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 25px 0;
}

.add-course-cont form > .add-btns{
  width: 70%;
  margin: auto;
}

.add-links {
  padding: 25px;
  border: 1px solid #312b46;
  margin: 60px 0;
  width: 50%;
  margin: 50px auto;
}

.add-course-cont .link {
  padding: 15px;
  color: #5c3cbd;
  font-size: 18px;
  transition: .4s ease;
}

.add-course-cont .link:hover {

  background-color: #bcb1e4;

}

.add-course-cont .row input,textarea {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #b2b0b9;
}

/* -----------------------add lectures ---------------------------------------------- */

.add-lect-cont {
  padding: 100px;
}

.add-lect-cont form {

  display: flex;
  flex-direction: column;
  gap: 12px;
}



.add-lect-cont .row input {
  font-size: 15px;
}
.add-lect-cont .row input,textarea {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #b2b0b9;
}


/*----------------------------------add modules -----------------------------------------*/

/* styles.css или любой другой файл стилей */

.add-module-page {
  max-width: 900px;
  margin: 100px auto;
  padding: 50px 20px;
  background-color: #f8f9ff;
  border: 1px solid #5c3cbd;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.add-module-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

.add-module-page form {
  display: flex;
  flex-direction: column;
}

.add-module-page form > button {
  margin: 55px 0 0;
}

.form-row {
  margin-bottom: 10px;
}

.form-row label {
  margin-right: 10px;
}

.form-row select,
.form-row input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #42366c;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.add-question-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-question {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: safe;
  width: 100%;
}

.add-question-container >  button {
  width: 30%;
  margin: auto;
  background-color: transparent;
  color: #312b46;
  border: 1px solid #312b46;
  padding: 5px 12px;
}

.add-question > .form-row input {
  width: 100%;
}


.add-question label {
}


.add-answer-container {
  margin-top: 10px;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.add-answer-container > button {
  width: 30%;
  margin: auto;
  background-color: #a9a6b6;
  padding: 5px 12px;
}

.add-answer {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 800px;
}

.add-answer input[type="text"],
.add-answer input[type="checkbox"] {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}






@media only screen and (max-width: 1200px) {
  .main-courses-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0 0 0;
  }

  .main-courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .main-courses h1 {
    font-size: 45px;
    line-height: normal;
    text-align: center;
    color: #42366c;

  }

  .categories {
    gap: 0;
    margin: 0;
  }

  .categories-btn {
    display: none;
  }

  .category-options {
    display: block;
  }

  .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .category-options select {
    width: 200px;
    padding: 5px;
    border: 1px solid #982FBC;
    color: #982FBC;
    border-radius: 3px;
    font-size: 16px;
  }

  .courses-list {
    padding: 20px;
    margin-top: 35px;
  }

  .course-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 15px;
    box-shadow: -5px -5px 20px 1px #bfbfbf;
    width: 100%;
  }

  .course-card img {
    width: 300px;
  }

  .no-courses {
    display: flex;
    padding: 0;
    margin-top: 0;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
  }

  .no-courses img {
    width: 350px;
  }

  /* Course detail page */

  .course-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 0;
    position: relative;
  }

  .course-container img {
    width: 300px;
    height: 100%;
  }


  .course-info {
    width: 100%;
    padding: 15px;
  }

  .course-info p {}

  .course-info-action {
    margin-top: 45px !important;

  }

  .course-info-action-enrl {
    line-height: 60px;
  }

  .course-program {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .course-program h2 {
    margin: 0;
  }

  .dropdown-box {
    width: 90%;
  }

  .back-to-courses-container {
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  /*--------------add course ---------------------*/

  .add-course-cont {
    padding: 80px 15px;
  }

  .add-course-cont form {
    width: 100%;
  }

  .topic-inputs .row input {
    width: 100%;
  }

  .add-links {
    margin: 0;
    width: 100%;
  }

  /*--------------add lecure ---------------------*/

  .add-lect-cont {
    padding: 80px 15px;

  }

  .md-editor{
    width: 100%;
  }

  /*-------------add module ----------------------*/

  .add-answer-container{
    width: 100%;
    padding: 0;
  }
  .add-answer-container button {
    width: 100%;
  }

  .add-question-container button {
    width: 100%;
  }
}