header {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 15px;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  top: 0;
}

.header-profile{
  display: flex;
  gap: 15%;
  align-items: center;
}

.header-profile img {
  width: 30px;
  border-radius: 550px;
}

.prof {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10%;
  cursor: pointer;
}

.loginbtn {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  transition: all ease .6s;
  border-radius: 6px;
  border: none;
  background-color: white;
  font-size: 15px;
}

.loginbtn:hover {
  background-color: #512da8;
  color: #fff;
}

.logo {
  font-weight: 600;
  font-size: 25px;
  padding: 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}