.lecture-container {
    padding: 125px 140px 100px;
    background-color: #e1e1e1;
}

.lecture-container h2 {
    text-align: center;
}
.lecture{
    background-color: white;
    padding: 50px;
    border: 1px solid #a5a5a5;
    border-radius: 9px;
}

.back{
    position: absolute;
    top: 160px;
}
.lect-nav {
    padding: 55px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}

code{
    width: 100%;
    font-size: 15px;
    border-radius: 2px;
    color: rgb(250, 248, 235);
    line-height: normal;
}

pre {
    white-space: pre-wrap;
    padding: 15px;
    
    border: 1px solid rgb(70, 70, 70);
    background-color: #5b5b5b;
}

.lecture-content li {
}
.lecture-container h3 {
    text-align: center;
}

.lecture-content{
    margin-bottom: 25px;
}

.lecture-content p {
    margin: 0 !important;
}

.lecture-content ul {
    margin: 0;
}

.lecture-container i {
    font-size: 19px;
    background-color: #5c3cbd;
    padding: 5px 7px;
    border-radius: 15px;
    color: white;
    transition: .4s ease;
}

.lecture-container i:hover {
    background-color: #432c83;

}

.previous {
    color: #432c83;
    position: absolute;
    left: 0;
    font-weight: 600;

}
.next {
    position: absolute;
    right: 0;
    color: #432c83;
    font-weight: 600;
}

@media only screen and (max-width: 1200px) {
    .lecture-container{
        padding: 0 12px;
        width:100%;
    }
    .back{
        position: absolute;
        top: 80px;
    }
    .lecture{
        margin-top: 70px;
        padding: 10px;
    }

    iframe{
        height: 350px;
    }
}