.lecture-container {
    padding: 25px 350px 100px;
    margin-top: 100px;
}

.lecture-container h2 {
    text-align: center;
}

.lect-nav {
    padding: 55px 0;
    display: flex;
    justify-content: space-between;
}