.module-container{
    margin-top: 100px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-container {
    width: 80%;
    margin: auto;
    

}

.question-container h4{
    border-bottom: 1px solid #656565;
}

.answer {
    padding: 5px;
    border: 1px solid #654aa6;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s ease;
}

.answer:hover{
    transform: scale(1.001) translate(-1px);
}
.correct {
    background-color: rgb(33, 217, 73);
}
.incorrect {
    background-color: #ff9e9e;
}
.read-only {
    pointer-events: none; /* Запретить клики */
    opacity: 0.5; /* Уменьшить прозрачность */
  }
.result-container{
    text-align: center;
    border: 2px dashed #7b5aff;
    padding: 0 50px;
    margin: 50px 0;
    font-size: 18px;
    color: #4a3b6e;
}
