.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-profile{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}

.main-profile img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 80px;
    border: 1px solid black;
}
.update{
    display: flex;
    justify-content: center;
    background-color: #5c3cbd;
    padding: 10px 0;
    color: white;
    border-radius: 5px;
    margin: auto;
    transition: .6s ease;
}
.update:hover {
    background-color: #42366c;
}
.my-courses-container {
    border-top: 1px solid rgb(180, 180, 180);
    padding: 25px 0;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.my-courses-container img {
    width: 400px;
    border-radius: 15px;
}
.my-courses {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin: 15px 50px;
    padding: 35px 0;
    border-bottom: 1px solid rgb(180, 180, 180);
}
.course-info-action-delete{
    background-color: #d4d4d5;
    padding: 11px;
    border-radius: 5px;
    border: none;
    margin: 0 15px;
    transition: .4s ease;
    font-size: 15px;
}
.course-info-action-delete:hover{
    background-color: #898989;
}
.no-courses {
    text-align: center;
}
.no-courses-action {
    color:#5c3cbd;
    transition: .6s ease;
}

.no-courses-action:hover {
    color: #42366c;
}
.update-prof-cont {
    margin: 95px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-upd-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.main-upd-back{
    box-sizing: border-box;
    padding: 6px 8px;
    border-radius: 4px;
    transition: .6s ease;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 25px;
    left: 400px;
}
.main-upd-back:hover{
    color: white;
    background-color: #5c3cbd;
}
.change-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upd-prof-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100px;
}
.change-pic {
    display: none;
}
.change-pic-label{
    cursor: pointer;
}
.change-pic-label img {
    position: relative;
    box-shadow: 0px 0px 50px 12px #a4a4a4;
}
.change-pic-label i {
    position: absolute;
    top: 295px;
    left: 810px;
    padding: 5px;
    background-color: #5c3cbd;
    color: white;
    border-radius: 35px;
}
.edit {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.edit-row {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    gap: 12px;

}

.edit-row input {
    border: none;
    border-bottom: 1px solid #42366c;
    font-size: 19px;
    
}
.edit-row input:active{
    
    border: none;
    border-bottom: 1px solid #42366c;
}
.edit-row input:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid #42366c;
}
form button {
    border: none;
    padding: 10px 50px;
    font-size: 17px;
    color: white;
    background-color: #5c3cbd;
    border-radius: 5px;
    transition: .6s ease;
}
form button:hover {
    background-color: #42366c;
}