html{
}
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div{
  box-sizing: border-box;
}

a{
  color: #000;
  text-decoration: none;
}

div{
  box-sizing: border-box;
}

.loader {
  width: 120px;
  height: 20px;
  border-radius: 20px;
  background:
   repeating-linear-gradient(135deg,#5c3cbd 0 10px,#18112f 0 20px) 0/0%   no-repeat,
   repeating-linear-gradient(135deg,#ddd    0 10px,#eee    0 20px) 0/100%;
  animation: l3 2s infinite;
}
@keyframes l3 {
    100% {background-size:100%}
}

.error{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
