.App{
}

.courses-list{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

div{
  box-sizing: border-box;
}

.course-card{
  background-color: rgb(89, 116, 212);
  width: 70%;
  padding: 15px 50px;
  border-radius: 15px;
  color: rgb(245, 245, 245);
}

.course-card h3{
  text-align: center;
}

.course-card p{
  text-indent: 15px;
  text-align: justify;
}